<h3 style="color:green"><%= flash.keep[:notice] %></h3>
<p>&nbsp;</p>

<h1>Journals Team</h1><br>
<h3>Some useful web applications</h3>
<br>
<br>
<%= link_to 'New Early Release Embargo/PaP Date Entry', new_doilist_path %> |
<%= link_to 'New Volume/Issue Entry', new_vol_path %> |
<%= link_to 'New Podcast Code', new_mycode_path %>