<%= "

<p>Copyright &#169; 2013 by the American Society of Clinical Oncology</p>

<p>Users can play the podcast directly in the audio player embedded below. If 

Flash is disabled on your browser, you can save the file directly to your computer 

or open on your mobile device by clicking on  \"download file.\"  </p>

<p>
<strong>#{@mycode.podtitle} 

</strong><br/>
<I>By #{@mycode.speaker} </I><br/>
 
      #{@mycode.wimpy}</object>

<br/>
<br/>

(<a href=\"#{@mycode.podlink}?web\">Download file </a> - duration #{@mycode.duration.strftime('%X')}, file size #{@mycode.mbsize} MB)

<p>This podcast presenter indicated no conflicts of interest.</p>"       %> 