<div align="center">

 

     
     <strong>Provided URL:</strong> <%= @mycode.podlink %><br>
     <strong>Generated URL by date:</strong> <%= "http://jco.ascopubs.org/site/podcasts/audio/#{@mycode.date.strftime('%Y')}/jcopodcast-#{@mycode.date.strftime('%m-%d-%Y')}.mp3" %><br>

</div>