<div align="center">
<h2>Edit your code below</h2>
<%= link_to 'Back to your previous code', @mycode %> |
<%= link_to 'Podcasts Page', mycodes_path %> | <%= link_to 'Home Page', start_index_path %>
</div>

<%= render 'form' %>

