<div align="center">
<p>&nbsp;</p>
<h3>Edit your article comparison entries below</h3>

<%= render 'form' %>

<%= link_to 'Show', @doi_comparison %> |
<%= link_to 'Back to Home Page', start_index_path %>
</div>
