<div align="center">
	<p>&nbsp;</p><p>&nbsp;</p>
<h4 id="notice"><%= notice %></h4><p>&nbsp;</p>

<p>
  <b>Heather:</b>
  <%= @doi_comparison.heather %>
</p>

<p>
  <b>HWX:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= @doi_comparison.hwx %>
</p>

<br>
<%= link_to 'Edit this entry', edit_doi_comparison_path(@doi_comparison) %> 
</div>
