 <%= "<tr>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td>
							&nbsp;</td>
					</tr>
					<tr>
						<td colspan=\"2\" style=\"font-size: 10px\">
							<a href=\"http://intl-jco.ascopubs.org/\">Alternate international access</a> <a href=\"http://jco.ascopubs.org/help/using/alternate-route\">[more info]</a></td>
					</tr>
					<tr>
						<td colspan=\"2\">
							<img height=\"1\" src=\"/icons/home/grey_pxl.gif\" width=\"100%\" /></td>
					</tr>
				</tbody>
			</table>" %><br><br> 
			<%= "<!-- SPECIFIC PODCASTS go here -->"%>