 <%= "

						<div style=\"font-size: 10px; padding-top:10px\">
					<a href=\"http://intl-jco.ascopubs.org/\">Alternate international access</a> <a href=\"http://jco.ascopubs.org/help/using/alternate-route\">[more info]</a></div>
				<div>
					<img height=\"1\" src=\"/icons/home/grey_pxl.gif\" width=\"100%\" /></div> "%>
					<br><br>
			<%= "</div>
			<!-- END COVERLINES DIV //-->" %><br><br> 
			<%= "<!-- SPECIFIC PODCASTS go here --> "%>